<?xml version='1.0' encoding='utf-8'?>
<widget id="com.mobiapp.fataakse" version="1.1.4" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Fataakse</name>
    <description>
        Save time,money and effort, shop at fataakse the best online departmental store.
    </description>
    <author email="fataakse.in@gmail.com" href="http://www.fataakse.in">
        Raggroup
    </author>
    <content src="index.html" />
    <plugin name="cordova-plugin-whitelist" spec="1" />
    <access origin="*"/>
    <allow-intent href="*" />
    <allow-navigation href="*" />  
    <access origin="mailto:*" launch-external="yes" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <preference name="orientation" value="portrait" />
    <platform name="android">
        <allow-intent href="market:*" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
</widget>
